body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
  background: linear-gradient(to left, #44cc66, #1a4a26);
}

.indifferent {
  border: 1px solid #d0b219;
  box-shadow:  -1px 1px #d0b219, -2px 2px #d0b219, -3px 3px #d0b219, -4px 4px #d0b219, -5px 5px #d0b219;
  background-color: #dddd22;
  background: linear-gradient(to left, #dddd22, #d0b219);
}

.dubious {
  border: 1px solid #920505;
  box-shadow: -1px 1px #920505, -2px 2px #920505, -3px 3px #920505, -4px 4px #920505, -5px 5px #920505;
  background-color: #dd4444;
  background: linear-gradient(to left, #dd4444, #920505);
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  border: 1px solid gray;
  box-sizing: border-box;
}

